.Grid
  width: 100%
  height: 100%
  display: flex
  flex-direction: row
  flex-wrap: wrap

  > div.GridItem
    display: block
    box-sizing: border-box

    &.xs-1
      width: 8.333333333%

    &.xs-2
      width: 16.6667%

    &.xs-3
      width: 25%

    &.xs-4
      width: 33.333333333%

    &.xs-5
      width: 41.666666667%

    &.xs-6
      width: 50%

    &.xs-7
      width: 58.333333333%

    &.xs-8
      width: 66.666666667%

    &.xs-9
      width: 75%

    &.xs-10
      width: 83.333333333%

    &.xs-11
      width: 91.666666667%

    &.xs-12
      width: 100%

    &.ys-1
      height: 8.333333333%

    &.ys-2
      height: 16.6667%

    &.ys-3
      height: 25%

    &.ys-4
      height: 33.333333333%

    &.ys-5
      height: 41.666666667%

    &.ys-6
      height: 50%

    &.ys-7
      height: 58.333333333%

    &.ys-8
      height: 66.666666667%

    &.ys-9
      height: 75%

    &.ys-10
      height: 83.333333333%

    &.ys-11
      height: 91.666666667%

    &.ys-12
      height: 100%

